go 1.18

use (
	./cmd/order_processor
	./pkg/api_clients
	./pkg/common
	./pkg/inventory_repository
	./pkg/inventory_service
	./pkg/models
	./pkg/order_repository
	./pkg/order_service
	./pkg/payment_repository
	./pkg/payment_service
)
